.list{
    width: 60%;
    height: 60px;
    background-color: #ff0000;
    margin-left: 300px;
    margin-top: 50px;
    position: relative;
}
.todo{
    padding: 10px;
    width: 320px;
    margin-left: 300px;
    margin-top: 10px;    
}

